mixin dropdown-block(item1="Item 1", item2="Item 1", item3="Item 1", btn1="применить", btn2="очистить")
  style 
    include ./dropdown-options.scss
  .dropdown-options
    .dropdown-item 
      h2.dropdown-option.label= item1
      .dropdown-counter
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="minus") 
          span.dropdown-counter__btn-text -
        .dropdown-counter__value.label.js-dropdown-counter__value 0
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="plus")  
          span.dropdown-counter__btn-text +
    .dropdown-item 
      h2.dropdown-option.label= item2
      .dropdown-counter
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="minus") 
          span.dropdown-counter__btn-text -
        .dropdown-counter__value.label.js-dropdown-counter__value 0
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="plus") 
          span.dropdown-counter__btn-text  +
    .dropdown-item 
      h2.dropdown-option.label= item3
      .dropdown-counter
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="minus") 
          span.dropdown-counter__btn-text -
        .dropdown-counter__value.label.js-dropdown-counter__value 0
        .dropdown-counter__btn.js-dropdown-counter__btn(data-direction="plus") 
          span.dropdown-counter__btn-text  +
    .dropdown-buttons
      p.dropdown__apply-btn= btn1
      p.dropdown__clear-btn= btn2
