mixin button(type, text)
  style
    include ./button.scss
  if(type=="fill-dark")
    button.btn.btn_small.btn_fill-dark-violet= text
  if(type=="fill-light")
    button.btn.btn_small.btn_fill-light-violet= text
  if(type=="border-dark")
    button.btn.btn_small.btn_dark-violet= text
  if(type=="border-light")
    button.btn.btn_small.btn_light-violet= text
  if(type=="light")
    button.btn.btn_small.btn_no-border-violet= text
  if(type=="dark")
    button.btn.btn_small.btn_no-border-dark= text