mixin room-card(img, number, price, luxe, commentCount)
    .room-card
        .room-card-img
            img.room-picture(src=`/src/images/${img}`, alt="")
        .room-card-info
            .room-card-info__text
                .room-card-info__number
                    p.room-card-sign-number № 
                    h2.room-card-number= number
                .special-offer
                    h3.luxe-attr= luxe 
                .room-card-info__price 
                    span.room-price= price
                    span.price-per &nbsp в сутки
            .room-card-rating
                .stars-block
                    .rating
                        .rating-stars
                            input(id='rating__5' type='radio' name='rating' value='5').rating__star 
                            label(for='rating__5').rating__label <span class="material-icons">star_border</span>
                            input(id='rating__4' type='radio' name='rating' value='4').rating__star
                            label(for='rating__4').rating__label <span class="material-icons">star_border</span>
                            input(id='rating__3' type='radio' name='rating' value='3').rating__star
                            label(for='rating__3').rating__label <span class="material-icons">star_border</span>
                            input(id='rating__2' type='radio' name='rating' value='2').rating__star
                            label(for='rating__2').rating__label <span class="material-icons">star_border</span>
                            input(id='rating__1' type='radio' name='rating' value='1').rating__star
                            label(for='rating__1').rating__label <span class="material-icons">star_border</span>
                .room-card__comment
                    p.comment-text= commentCount
                    span.comment-text-attr &nbspОтзывов
html
    head
        style
            include ../components/form-elements.scss
            include ../pages/form-elements-page.scss
            include ../components/head.scss    
            include search-room-page.scss
            include ../components/footer.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name='viewport' content='1024'>
        .search-room__wrapper
            .landing-page__header 
                include ../components/_head
            .search-room__body 
                .search-room__aside 
                    .date-pickers
                        .field
                            h2.label даты пребывания в отеле
                            input(type="date" placeholder='ДД.ММ.ГГГГ').input.calendar.calendar_long
                            <span class="material-icons expand-arrow dropdown-arrow-calendar">expand_more</span>
                    .search-form__dropdown-block
                        .dropdown-block__label 
                            h2.label гости
                        .dropdown__input
                            .dropdown__input_default.dropdown__input_middle
                                span.dropdown__input-text  Сколько гостей  
                                <span class="material-icons expand-arrow dropdown-arrow-guests">expand_more</span>
                            .dropdown__input_guests.dropdown__input_guests-expanded-apply.hidden
                                .dropdown-options
                                    .dropdown-item 
                                        h2.dropdown-option.label взрослые
                                        .dropdown-counter
                                            .dropdown-counter__btn(data-direction='minus') 
                                                span -
                                            .dropdown-counter__value.label 0
                                            .dropdown-counter__btn(data-direction='plus')  
                                                span +
                                    .dropdown-item 
                                        h2.dropdown-option.label дети
                                        .dropdown-counter
                                            .dropdown-counter__btn(data-direction='minus') 
                                                span -
                                            .dropdown-counter__value.label 0
                                            .dropdown-counter__btn(data-direction='plus') 
                                                span  +
                                    .dropdown-item 
                                        h2.dropdown-option.label младенцы
                                        .dropdown-counter
                                            .dropdown-counter__btn(data-direction='minus') 
                                                span -
                                            .dropdown-counter__value.label 0
                                            .dropdown-counter__btn(data-direction='plus') 
                                                span  +
                                    .dropdown-buttons
                                        p.apply-btn_narrow применить
                                        p.clear-btn очистить
                    .search-room-filter-price
                        .search-room-filter-price__head
                            .filter-price__head
                                h2.label диапазон цены
                                .filter-price__inputs
                                    label.filter-price__label.filter-price__label-min
                                        input(type='number' min='0' max='100000' placeholder='0' id='input-0').filter-price__input-min
                                        span.filter-price__text ₽-
                                        span.filter-price__text 
                                    label.filter-price__label.filter-price__label-max
                                        input(type='number' min='0' max='100000' placeholder='10&nbsp0000' id='input-1').filter-price__input-max
                                        span.filter-price__text.filter-price__text-max ₽
                            .filter-price__slider(id='range-slider')
                            p.filter-price_description Стоимость за сутки пребывания в номере
                    .search-room-checkbox-list
                            .checkbox-list__label 
                                h2.label правила дома
                            .checkbox-list_options 
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement').checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Можно курить
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' checked).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Можно с питомцами
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' checked).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Можно пригласить гостей (до 10 человек)
                    .search-room-checkbox-list_rich 
                            .checkbox-list__label 
                                h2.label доступность
                            .checkbox-list_options 
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement1').checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label.checkbox-label-rich Широкий коридор
                                    p.checkbox-label-describe Ширина коридоров в номере не менее 91 см.
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement2').checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label.checkbox-label-rich Помощник для инвалидов
                                    p.checkbox-label-describe На 1 этаже вас встретит специалист  и проводит до номера.  
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label Удобства номера                            
                        .dropdown__input 
                            .dropdown__input_default
                                span.dropdown__input-text  2 спальни, 2 кровати
                                span(class='material-icons expand-arrow dropdown__arrow_comfort') expand_more
                            .dropdown__input_expanded.hidden 
                                .dropdown-options
                                    .dropdown-item 
                                        h2.dropdown-option.label спальни
                                        .dropdown-counter
                                            .dropdown-counter__btn(data-direction='minus')  
                                                    span -
                                            .dropdown-counter__value.label 0
                                            .dropdown-counter__btn(data-direction='plus') 
                                                    span  +
                                    .dropdown-item 
                                        h2.dropdown-option.label кровати
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction='minus') 
                                                    span  -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction='plus')
                                                    span +
                                    .dropdown-item 
                                        h2.dropdown-option.label ванные комнаты
                                    
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label дополнительные удобства
                            span(class='material-icons expand-arrow dropdown__arrow_checkbox') expand_more
                    .search-room-added-checkbox-list.hidden
                            .checkbox-list_options 
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement').checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Завтрак
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' ).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Письменный стол
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' ).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Стул для кормления
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' ).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Кроватка
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' ).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Телевизор
                                label.checkbox-list_options-items
                                    input(type='checkbox' name='agreement' ).checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label Шампунь
                       
                .search-room__main 
                    h1.search-room__label Номера, которые мы для вас подобрали
                    .search-room__cards
                        .search-room__main-col
                            +room-card('room888.png', '888', '9 990₽', 'ЛЮКС', '145')
                            +room-card('room856.png', '856', '7 300₽', '' , '19')
                            +room-card('room678.png', '678', '5 500₽', '' , '45')
                            +room-card('room666.png', '666', '5 000₽', '' , '25')
                        .search-room__main-col
                            +room-card('room840.png', '840', '9 990₽', '', '65')
                            +room-card('room740.png', '740', '6 000₽', '' , '44')
                            +room-card('room450.png', '450', '5 300₽', '' , '39')
                            +room-card('room444.png', '444', '5 000₽', '' , '15')
                        .search-room__main-col
                            +room-card('room980.png', '980', '8 500₽', 'ЛЮКС', '35')
                            +room-card('room982.png', '982', '5 800₽', '' , '56')
                            +room-card('room350.png', '350', '5 00₽', '' , '77')
                            +room-card('room352.png', '352', '5 000₽', '' , '55')
            .search-room__pagination 
                .pagination

                    .pagination__btns
                        button.btn.btn-pagination.btn-pagination_active 1
                        button.btn.btn-pagination.btn-pagination 2
                        button.btn.btn-pagination.btn-pagination 3
                        button.btn.btn-pagination.btn-pagination ...
                        button.btn.btn-pagination.btn-pagination 15
                        button.btn.btn-pagination.btn-pagination_next <span class="material-icons">arrow_forward</span>
                        p.pagination-text 1 – 12 из 100+ вариантов аренды
            .search-page__footer
                .landing-page__footer 
                        include ../components/_footer
            
