//- html
//-   head
//-     style
//-       include rating-stars.scss
//-   .rating
//-     .rating-stars
//-       input(id="rating__5" type="radio" name="rating" value="5").rating__star 
//-       label(for="rating__5").rating__label <span class="material-icons">star_border</span>
//-       input(id="rating__4" type="radio" name="rating" value="4").rating__star
//-       label(for="rating__4").rating__label <span class="material-icons">star_border</span>
//-       input(id="rating__3" type="radio" name="rating" value="3").rating__star
//-       label(for="rating__3").rating__label <span class="material-icons">star_border</span>
//-       input(id="rating__2" type="radio" name="rating" value="2").rating__star
//-       label(for="rating__2").rating__label <span class="material-icons">star_border</span>
//-       input(id="rating__1" type="radio" name="rating" value="1").rating__star
//-       label(for="rating__1").rating__label <span class="material-icons">star_border</span>

//- - function ratingStars(count) {
//-   retutn {
//-     style
//-     include rating-stars.scss
//-   .rating
//-     .rating-stars
//-       input(id=`rating__${index+4}` type="radio" name="rating" value=`${index+5}`).rating__star 
//-       label(for=`rating__${index+4}`).rating__label <span class="material-icons">star_border</span>
//-       input(id=`rating__${index+3}` type="radio" name="rating" value=`${index+3}`).rating__star
//-       label(for=`rating__${index+3}`).rating__label <span class="material-icons">star_border</span>
//-       input(id=`rating__${index+2}` type="radio" name="rating" value=`${index+2}`).rating__star
//-       label(for=`rating__${index+2}`).rating__label <span class="material-icons">star_border</span>
//-       input(id=`rating__${index+1}` type="radio" name="rating" value=`${index+1}`).rating__star
//-       label(for=`rating__${index+1}`).rating__label <span class="material-icons">star_border</span>
//-       input(id=`rating__${index}` type="radio" name="rating" value=`${index}`).rating__star
//-       label(for=`rating__${index}`).rating__label <span class="material-icons">star_border</span>}
//- }
mixin ratingStars(index)
  style
    include rating-stars.scss
  .rating
    .rating-stars
      input(id=`rating__${index+4}` type="radio" name=`rating__${index}` value=`${index+4}`).rating__star 
      label(for=`rating__${index+4}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+3}` type="radio" name=`rating__${index}` value=`${index+3}`).rating__star
      label(for=`rating__${index+3}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+2}` type="radio" name=`rating__${index}` value=`${index+2}`).rating__star
      label(for=`rating__${index+2}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+1}` type="radio" name=`rating__${index}` value=`${index+1}`).rating__star
      label(for=`rating__${index+1}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index}` type="radio" name=`rating__${index}` value=`${index}`).rating__star
      label(for=`rating__${index}`).rating__label <span class="material-icons">star_border</span>