mixin ratingStars(index="1")
  style
    include rating-stars.scss
  .rating
    .rating-stars
      input(id=`rating__${index+4}` type="radio" name=`rating__${index}` value=`${index+4}`).rating__star 
      label(for=`rating__${index+4}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+3}` type="radio" name=`rating__${index}` value=`${index+3}`).rating__star
      label(for=`rating__${index+3}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+2}` type="radio" name=`rating__${index}` value=`${index+2}`).rating__star
      label(for=`rating__${index+2}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index+1}` type="radio" name=`rating__${index}` value=`${index+1}`).rating__star
      label(for=`rating__${index+1}`).rating__label <span class="material-icons">star_border</span>
      input(id=`rating__${index}` type="radio" name=`rating__${index}` value=`${index}`).rating__star
      label(for=`rating__${index}`).rating__label <span class="material-icons">star_border</span>